<%= form_with(model: user, url: "/search", method: "post", html: { data: { controller: "masks" } }) do |form| %>

  <div class="row">
    <div class="col-6 card p-3 class">
      <h2>Search a user</h2>
      <div class="row mb-2">
        <div class="col">
          <%= form.label :name, style: "display: block" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <%= form.label :phone, style: "display: block" %>
          <%= form.text_field :phone, class: "form-control", data: { masks_target: 'phone' } %>
        </div>

        <div class="col">
          <%= form.label :cpf, style: "display: block" %>
          <%= form.text_field :cpf, class: "form-control", data: { masks_target: 'cpf' } %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <%= form.label :email, style: "display: block" %>
          <%= form.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="mt-3">
        <%= form.submit 'Search', class: "btn btn-primary text-white", style: "background-color: #eb5444;" %>
      </div>
    </div>
  </div>
<% end %>
