<div id="<%= dom_id user %>">
  <div class="card-body">
    <h5 class="card-title">
      <%= user.name %>
    </h5>

    <p>
      <strong>Email:</strong>
      <%= user.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= user.phone %>
    </p>

    <p>
      <strong>CPF:</strong>
      <%= user.cpf %>
    </p>
  </div>
</div>
