<!DOCTYPE html>
<html>
  <head>
    <title>DemoFestalab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar py-3 px-4 mb-5" style="background-color: #480C5C">
    <a href="/users"><%= image_tag 'logo' %></a>

  </nav>
  <div class="container">
    <% if notice.present? %>
      <p class="alert alert-success" style="color: green"><%= notice %></p>
    <% end %>
    <%= yield %>
  </div>
  </body>
